<footer class="site-footer" style="overflow: hidden;position: relative;">
  {{ if not (in (slice "book" "docs" "updates") .Type) }}
  <span class="float-right" aria-hidden="true">
    <a href="#" class="back-to-top">
      <span class="button_icon">
        <i class="fas fa-chevron-up fa-2x"></i>
      </span>
    </a>
  </span>
  {{ end }}
  {{ if or (site.GetPage "terms.md") (site.GetPage "privacy.md") }}
  <p class="powered-by">
    {{ with site.GetPage "privacy.md" }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
    {{ with site.GetPage "terms.md" }}
      {{ if site.GetPage "privacy.md" }} &middot; {{ end }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
  </p>
  {{ end }}

  <p class="powered-by">
    {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}}{{ end }}
  </p>

  {{/* Display copyright license. */}}
  {{ partial "site_footer_license" . }}

  <p class="powered-by">
    {{ if not site.Params.i_am_a_sponsor }}
    Published with
    <a href="https://sourcethemes.com/academic/" target="_blank" rel="noopener">Academic Website Builder</a>
    {{ end }}
  </p>

  {{ $language := site.Params.languagecode }}
  {{ $media_dir := .Page.Scratch.Get "media_dir" }}

  {{ $language := "" }}
  {{ if eq site.Params.languagecode "zh-Hans" }}
    {{ $language = "zh" }}
  {{ else if eq site.Params.languagecode "en-us" }}
    {{ $language = "en" }}
  {{ end }}

  {{ $logo_nlpr := (printf "%s/%s/%s" $media_dir $language site.Params.logo_nlpr | relURL) }}
  {{ $logo_casia := (printf "%s/%s/%s" $media_dir $language site.Params.logo_casia | relURL) }}

  <div class="logo_img2">
    <img src="{{$logo_casia}}" class="img3" />
    <img src="{{$logo_nlpr}}" class="img3"  />
  </div>
</footer>

<style>
  .logo_img2 {
    float: right;
    overflow: hidden;
    width: 50%;
    position: absolute;
    bottom: 38px;
    right: 0;
  }
  .img3 {
  float: right;
  /* margin-top: 16px; */
  width: 35%;
}
.container {
      max-width: 100%;
}
</style>
